{% extends 'layouts/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="col-lg-7 mx-auto">

        <h1 class="mt-5 mb-4 font-weight-normal bold"><b>Inscription</b></h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}

            <div class="row form-group mb-2 mt-3">
                <div class="w-50">
                    {{ form_row(registrationForm.firstName) }}
                </div>

                <div class="w-50">
                    {{ form_row(registrationForm.lastName) }}
                </div>
            </div>
            
            <div class="row form-group mb-2">
                {{ form_row(registrationForm.email) }}
            </div>

            <div class="row form-group mb-2">
                {{ form_row(registrationForm.plainPassword) }}
            </div>
            
            <div class="row form-group mb-2">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            
            <button type="submit" class="w-100 btn btn-dark">S'inscrire</button>
        {{ form_end(registrationForm) }}

        <p class="text-center font-secondary mt-5">Avez vous un compte ?<a style="text-decoration: none;" href="{{ path('app_login') }}" class="font-bold"> Se connecter</a></p>
    </div>
{% endblock %}
