
<hr>
<div class="container">
    <footer class="mt-5">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded mb-5" src="{{asset('images/Foodity_logo1.png') }}" heigth="240" width="160" alt="LOGO">
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-4 text-center"><a style="text-decoration:none;" class="font-secondary-bold" href="#">Politique de confidentialité</a></div>
                    <div class="col-md-4 text-center"><a style="text-decoration:none;" class="font-secondary-bold" href="#">Contact</a></div>
                    <div class="col-md-4 text-center"><a style="text-decoration:none;" class="font-secondary-bold" href="#">CGV/CGU</a> </div>
                </div>

                <div class="row mb-5 mt-5">
                    <div class="col-4 text-right"><a href="https://www.facebook.com/Foodity.fr" target="_blank"><img class="rounded" src="{{asset('images/Icon-fb.png') }}" alt="home_image"></a></div>
                    <div class="col-4 text-center"><a href="https://www.instagram.com/foodity.fr/?fbclid=IwAR163cPu5_JQFarI-ooVDWmB0B_udY0MWZQVauRiPsDsW-9fgOfP4PdZHhA" target="_blank"><img class="rounded" src="{{asset('images/Icon-insta.png') }}" alt="home_image"></a></div>
                    <div class="col-4"><a href="https://www.linkedin.com/company/foodity/" target="_blank"><img class="rounded" src="{{asset('images/Icon-in.png') }}" alt="home_image"></a></div>
                </div>
            </div>

            <div class="col-lg-4">
                <p class="text-right" >
                    <small>
                    &copy; {{ 'now'|date('Y') }} &middot;
                        Tous droits réservés
                    </small>
                </p>
            </div>
        </div>
    </footer>
</div>