{% extends 'layouts/base.html.twig' %}

{% block title %}Produit index{% endblock %}


{% block body %}

    {% if produits|length > 0 %}
        <h1 class="text-center mb-5 text-muted">Tous les produits ({{ pluralize(produits|length,'produit','produits') }})  </h1>
        {% for row in produits|batch(3) %}
            <div class="row">
                {% for produit in row %}
                    <div class="col-md-4 mb-5">
                        <div class="mw-100 overflow-hidden shadow">
                            <article class="bg-white rounded p-3">
                                <a href="{{ path('app_produit_show', {id:produit.id}) }}">
                                    <img class="w-100 rounded-top" style="max-width: 400px;" src="{{ vich_uploader_asset(produit, 'imageFile') }}">
                                </a>
                                <a class="text-center text-muted text-decoration-none" href="{{ path('app_produit_show', {id:produit.id}) }}"><h2 class="pt-3">{{ produit.name }}</h2></a>
                                <p class="text-center text-muted  text-break"> {{ produit.description|u.truncate(35, '.......', false) }} </p>
                                <p class="h5 pb-2 bold text-center"> {{ produit.prix }}€</p>

                                {#
                                <div class="row mx-auto p-3">
                                    <div class="col-6">
                                        <a class="btn w-100 btn-outline-primary mb-3" href="{{ path('app_produit_show', {'id': produit.id}) }}">Consulter</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn w-100 btn-outline-primary mb-3" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                                    </div>
                                </div>
                                #}

                                <div class="row mx-auto p-3">
                                    <a class="btn w-100 btn-dark mb-3" href="{{ path('app_produit_show', {'id': produit.id}) }}">Consulter</a>
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="h1 text-center mt-5 text-muted"> Aucun produit</p>
    {% endif %}
    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}



{#
{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Prix</th>
                <th>StockQuantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stockQuantite }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

#}



