{% extends 'layouts/base.html.twig' %}

{% block title %}Produit{% endblock %}


    {% block javascripts %}
        {{ encore_entry_script_tags('product_show') }}
    {% endblock %}

{% block body %}

    {% if not app.user %}
        <h3 class="text-center text-muted"> <a href="{{ path('app_login') }}" style="text-decoration: none;">Connectez-vous</a> afin de pouvoir effectuer vos achats. </h3>
    {% endif %}

    <div class="row">
    
      	<div class="col-md-7 p-5">
            <img id="imgprincip" class="rounded-top img-fluid" src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="produit image">

            {#
      		<div class="row">
      			<div class="col-md-3" >
      				<img  src="../img/produit_newyork_0.jpeg" alt="responsive-image" class="img-fluid miniature" id="image1">
      			</div>
      			
      			<div class="col-md-3">
      				<img src="../img/produit_newyork_1.jpeg" alt="responsive-image" class="img-fluid miniature" id="image2">
      			</div>
      			
      			<div class="col-md-3" >
      				<img src="../img/produit_newyork_2.jpeg" alt="responsive-image" class="img-fluid miniature" id="image3">
      			</div>
      			
      			<div class="col-md-3" >
      				<img src="../img/produit_newyork_3.jpeg" alt="responsive-image" class="img-fluid miniature" id="image4">
      			</div>	
      		</div>
            #}
            
      	</div>
      	
      	<div class="col-md-5 p-5">
      		<p class="h2 text-muted"> {{ produit.name }} </p>
      		<hr>

      		<p class="h3 mb-4 text-muted"><b>{{ produit.prix }}€</b></p>

            {% if produit.stockQuantite >= 10 %}
      		    <div class="alert alert-success"> En stock </div>
            {% elseif produit.stockQuantite < 10 and produit.stockQuantite >= 3 %}  
                <div class="alert alert-warning"> Stock faible </div>
            {% elseif produit.stockQuantite <= 3 %}  
                <div class="alert alert-danger"> Moins que 3 exemplaires restants </div>
            {% endif %}
      		<hr>

                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-5">
                            {% if produit.stockQuantite > 10 %}
                                {{ form_row(form.quantity, {'attr': {'min': 0, 'max': 10} }) }}
                            {% else %}
                                {{ form_row(form.quantity, {'attr': {'min': 0, 'max': produit.stockQuantite} }) }}
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            {% if app.user %}
                                <button class="btn btn-dark w-100">{{ button_label|default('Ajouter au panier') }} <i class="fas fa-shopping-cart"></i></button> 
                            {% else %}
                                <a href="{{ path('app_login')}}" class="btn btn-dark w-100"> Ajouter au panier <i class="fas fa-shopping-cart"></i></a> 
                            {% endif %}
                        </div>
                    </div>
                {{ form_end(form) }}
      	</div>
    </div>


    <div class="row">
      	
      	<h3 class="text-muted">Description</h3>
      		
      		<p class="text-muted text-justify mb-5">{{ produit.description }}</p>
			<br>

            {% if produit.specifite1 != null or produit.specefite2 != null or produit.specefite3 != null or produit.specifite4 != null %}
			<h3 class="text-muted">Spécificités</h3>
			{% endif %}
            <ul>
                {% if produit.specifite1 != null %}
                    <li>{{ produit.specifite1 }}.</li>
                {% endif %}

                {% if produit.specefite2 != null %}
                    <li>{{ produit.specefite2 }}.</li>
                {% endif %}

                {% if produit.specefite3 != null %}
                    <li>{{ produit.specefite3 }}.</li>
                {% endif %}

                {% if produit.specifite4 != null %}
                    <li>{{ produit.specifite4 }}.</li>
                {% endif %}				
			</ul>

    </div>




{#

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    <a href="{{ path('app_produit_not_availible', {'id': produit.id}) }}" class="btn">Supprimer</a> 

   {# {{ include('produit/_delete_form.html.twig') }} #}


   <script src="{{ asset('js/product_show.js') }}"></script>

{% endblock %}
