{% extends 'layouts/base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>PrixTotal</th>
                <td>{{ commande.prixTotal }}</td>
            </tr>
            <tr>
                <th>CommandeDate</th>
                <td>{{ commande.commandeDate ? commande.commandeDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <h3 class="mt-5">Articles </h3>

    {% for article in commande.getArticles %}

        <table class="table">
        <tbody>
            <tr>
                <th>produits</th>
                <td>{{ article.getProduit.getName}}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ article.quantity }}</td>
            </tr>
        </tbody>
    </table>

    {% endfor %}

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
