{% extends 'layouts/base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    


    
    <h1>Commande</h1>

    <div class="progress mt-5 col-md-10 mx-auto" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%"></div>
    </div>

    <div class="mt-3 mb-5 row col-11 mx-auto">
        <div class="col-3">
            <b>Utilisateur connecté</b>
        </div>

        <div class="col-3 text-center">
            <b>Adresse</b>
        </div>

        <div class="col-3 text-center">
            <b>Paiement</b>
        </div>

        <div class="col-3 text-end">
            <b>C'est fait</b>
        </div>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>PrixTotal</th>
                <td>{{ commande.prixTotal }}</td>
            </tr>
            <tr>
                <th>CommandeDate</th>
                <td>{{ commande.commandeDate ? commande.commandeDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
