{% extends 'base.html.twig' %}

{% block title %}StockCaracterestique index{% endblock %}

{% block body %}
    <h1>StockCaracterestique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StockQuantite</th>
                <th>Caracterestique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock_caracterestique in stock_caracterestiques %}
            <tr>
                <td>{{ stock_caracterestique.id }}</td>
                <td>{{ stock_caracterestique.stockQuantite }}</td>
                <td>{{ stock_caracterestique.caracterestique }}</td>
                <td>
                    <a href="{{ path('app_stock_caracterestique_show', {'id': stock_caracterestique.id}) }}">show</a>
                    <a href="{{ path('app_stock_caracterestique_edit', {'id': stock_caracterestique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stock_caracterestique_new') }}">Create new</a>
{% endblock %}
